<%= turbo_stream.replace("book_row_#{book.id}") do %>
  <tr id="book_row_<%= book.id %>" data-controller="book-edit" data-book-edit-id-value="<%= book.id %>">
    <td><%= book.id %></td>
    <td data-book-edit-target="title"><%= book.title %></td>
    <td data-book-edit-target="author"><%= book.author %></td>
    <td data-book-edit-target="publisher"><%= book.publisher %></td>
    <td class="text-end">
      <button class="btn btn-primary btn-sm" data-action="click->book-edit#startEdit">編集</button>
    </td>
  </tr>
<% end %>