<%= turbo_stream.replace(dom_id(book)) do %>
  <tr id="<%= dom_id(book) %>">
    <td><%= book.id %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.publisher %></td>
    <td class="text-end">
      <button class="btn btn-outline-primary btn-sm" data-action="click->book-edit#edit">編集</button>
    </td>
  </tr>
<% end %>