<div id="books-grid" class="books-grid" data-controller="book-shelf">
  <% books.each_slice((params[:slice] || 12).to_i) do |row_books| %>
    <div class="shelf">
      <% row_books.each do |book| %>
        <% materials = %w[
                            material-paper
                            material-cloth
                            material-leather
                            material-velvet
                            material-wood
                            material-stone
                            material-painted
                            material-glossy
                          ] %>
        <% material_class = materials.sample %>
        <div class="book-on-shelf <%= material_class %>">
          <%= link_to book_path(book) do %>
            <% if book.book_cover_s3.attached? %>
              <%= image_tag book.book_cover_s3.variant(resize_to_limit: [180, 270]),
                    alt: book.title,
                    class: "book-cover img-fluid rounded shadow #{material_class}" %>
            <% elsif book.book_cover.present? %>
              <img src="<%= book.book_cover %>" alt="表紙画像" class="book-cover rounded shadow <%= material_class %>">
            <% else %>
              <div class="no-cover book-cover <%= material_class %>"><%= book.title %></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

