<%= form_with url: books_index_path, method: :get,
              data: { controller: "auto-submit" },
              local: true,
              class: "ms-3" do %>

  <%= hidden_field_tag :view, "shelf" %>

  <% options = mobile? ? [5, 10] : [5, 7, 10, 12] %>

  <%= select_tag :per,
      options_for_select(options, books_per_shelf),
      class: "form-select form-select-sm text-secondary shadow-sm books-per-shelf",
      data: {
        auto_submit_target: "select",
        action: "change->auto-submit#change"
      } %>
<% end %>


<% books.each_slice(books_per_shelf) do |row_books| %>
  <div class="shelf-row" data-controller="book-shelf">
    <div class="book-row">
      <% row_books.each do |book| %>
        <div class="book-on-shelf">
          <%= link_to book_link_path(book), data: { turbo_frame: "_top" } do %>
            <% if book.book_cover_s3.attached? %>
              <%= image_tag book.book_cover_s3.variant(resize_to_limit: [200, 200]),
                    alt: book.title, class: "book-cover", loading: "lazy" %>
            <% elsif book.book_cover.present? %>
              <img src="<%= book.book_cover %>" alt="表紙画像" class="book-cover" loading="lazy">
            <% else %>
              <div class="no-cover">
                <span class="title">
                  <%= book.title.truncate(24, omission: "").ljust(10).gsub(" ", "&nbsp;").html_safe %>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="shelf-bar"></div>
    <div class="shelf-depth"></div>
  </div>
<% end %>