<div data-controller="column-selector">

  <% default_value = mobile? ? 4 : 12 %>
  <% options = mobile? ? [4, 3, 6, 8, 10] : [12, 15, 18, 21, 24] %>

  <div class="d-flex align-items-center mb-4 ms-3" style="gap: 0.5rem;">
    <%= select_tag :column,
        options_for_select(options, card_columns || default_value),
        id: "columnSelect",
        data: {
          action: "change->column-selector#change",
          column_selector_target: "selector"
        },
        class: "form-select form-select-sm text-secondary shadow-sm books-per-shelf"
    %>
  </div>

  <div data-column-selector-target="grid" class="books-grid-iphone mt-3">
    <% books.each_with_index do |book, index| %>
      <div class="fade-in-right" style="--delay: <%= index * 0.01 %>s;">
        <%= link_to book_link_path(book), data: { turbo_frame: "_top" } do %>
          <% if book.book_cover_s3.attached? %>
            <%= lazy_image_tag book.book_cover_s3.variant(resize_to_limit: [200, 200]), alt: book.title, class: "book-cover-iphone img-fluid rounded" %>
          <% elsif book.book_cover.present? %>
            <img src="<%= book.book_cover %>" style="border-radius: 12px;" alt="表紙画像" class="book-cover-iphone rounded" loading="lazy">
          <% else %>
            <div class="no-cover pt-2"><%= book.title.truncate(10) %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= form_with url: books_index_path, method: :get, local: true, id: "columnForm" do %>
  <%= hidden_field_tag :view, "card" %>
  <%= hidden_field_tag :column, card_columns, id: "hiddenColumnInput" %>
<% end %>

<%= render "shared/pagy", pagy: pagy %>