<div class="d-flex justify-content-center px-3">
  <div style="max-width: 800px; width: 100%;">
    <%= form_with url: "#", method: :get, local: true, id: "search-form", data: { controller: "spinner" } do %>
      <div class="row g-2 align-items-center">
        <div class="col-md-2">
          <%= label_tag :type, "検索種別", class: "form-label" %>
          <%= select_tag :type,
                options_for_select([["タイトル", "title"], ["著者", "author"], ["ISBN", "isbn"]], params[:type]),
                class: "form-select",
                onchange: "this.form.submit()" %>
        </div>

        <div class="col-md-6">
          <%= label_tag :query, "検索キーワード", class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: placeholder_for(params[:type]) %>
          </div>
        </div>

        <div class="col-md-4">
          <%= label_tag :search_button, "検索実行", class: "form-label invisible" %>
          <div class="d-flex gap-2">
            <%= render "search/search_buttons", type: params[:type], query: params[:query] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>