<h2 class="text-center mt-4 mb-4">本を検索する</h2>

<%= render "search/form" %>

<%= render "search/entry_buttons" %>

<% if @book_data.present? %>
  <%= render "search/isbn_result", book: @book_data %>
<% end %>

<% if @rakuten_book_results.present? %>
  <%= render "search/rakuten_results", books: @rakuten_book_results, total_count: @rakuten_total_count, total_pages: @rakuten_total_pages %>
<% end %>

<% if @rakuten_book_results.present? && @rakuten_book_results.size < 30 %>
  <div class="text-center mt-3">
    <%= link_to "Google Booksでも探す", search_google_books_path(query: @query, page: 1), class: "btn btn-outline-success btn-sm mb-5" %>
  </div>
<% end %>

<% if @google_book_results.present? %>
  <%= render "search/google_results", books: @google_book_results, total_count: @google_total_count, total_pages: @google_total_pages %>
<% end %>

<% if @google_book_results.present? && @google_book_results.size < 30 %>
  <div class="text-center mt-3">
    <%= link_to "楽天ブックスでも探す", search_books_path(engine: "rakuten", type: params[:type], query: @query), class: "btn btn-outline-primary btn-sm mb-5" %>
  </div>
<% end %>