<h2 class="text-center mt-4 mb-4">本を検索する</h2>

<%= render "search/form" %>

<div class="container text-center mb-4">
  <%= link_to "手動で入力",  new_book_path, class: "btn btn-secondary" %>
</div>

<div class="container text-center mb-4">
  <h1>バーコードスキャンで本を追加</h1>

  <div id="scanner" style="width: 100%; height: 300px; border: 2px dashed #ccc;"></div>

  <p>読み取ったISBN:</p>
  <input type="text" id="isbn_input" name="isbn" readonly class="isbn-input" />

  <%= button_to "登録する", books_path, method: :post, params: { isbn: '' }, id: "submit_button", class: "btn btn-primary", disabled: true %>

  <%= javascript_include_tag "quagga_start", type: "module" %>
</div>

<% if @book_data.present? %>
  <%= render "search/isbn_result", book: @book_data %>
<% elsif @book_results.present? %>
  <%= render "search/list_results", books: @book_results, total_count: @total_count, total_pages: @total_pages %>
<% end %>