<h2 class="text-center mt-4 mb-4">本を検索する</h2>

<%= render "search/form" %>

<div class="container text-center mb-4">
  <%= link_to "手動で入力",  new_book_path, class: "btn btn-secondary" %>
</div>

<div class="container text-center mb-4">
  <%= link_to "バーコードを読み取る",  search_barcode_path, class: "btn btn-secondary" %>
</div>


<% if @book_data.present? %>
  <%= render "search/isbn_result", book: @book_data %>
<% elsif @book_results.present? %>
  <%= render "search/list_results", books: @book_results, total_count: @total_count, total_pages: @total_pages %>
<% end %>