<% devise_mapping ||= Devise.mappings[:user] %>

<% if controller_name != 'sessions' %>
  <%= link_to t(".sign_in"), new_session_path(resource_name), class: "d-block mb-1 text-decoration-none" %>
<% end %>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t(".sign_up"), new_registration_path(resource_name), class: "d-block mb-1 text-decoration-none" %>
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: "d-block mb-1 text-decoration-none" %>
<% end %>

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: "d-block mb-1 text-decoration-none" %>
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), class: "d-block mb-1 text-decoration-none" %>
<% end %>

<% if devise_mapping.omniauthable? %>
  <div class="d-flex align-items-center my-4">
    <hr class="flex-grow-1">
    <div class="mx-3 mb-0 text-muted" style="white-space: nowrap;">
      または他の方法でログイン
    </div>
    <hr class="flex-grow-1">
  </div>


  <% Devise.omniauth_configs.keys.each do |provider| %>
    <% provider_class = "" %>

    <% icon = case provider.to_s
            when "line"
              bi_icon("line", css: "is-3")
            else
              bi_icon("person-circle", css: "is-3")
            end %>

    <%= link_to send("user_#{provider}_omniauth_authorize_path"),
                method: :get,
                class: "btn-success btn btn-block d-flex align-items-center justify-content-center gap-2 mb-3",
                data: { turbo: false } do %>
      <%= safe_join([icon, t(".sign_in_with_provider", provider: OmniAuth::Utils.camelize(provider))], " ") %>
    <% end %>
  <% end %>
<% end %>