<div class="row g-3 px-3 mt-3">
  <% @books.each_with_index do |book, index| %>
    <div class="col-<%= col_width %> fade-in-right" style="--delay: <%= index * 0.003 %>s;">
      <%= link_to helpers.book_link_path(book),
          class: "text-decoration-none text-reset",
          data: { turbo_frame: "_top" } do %>
        <div class="card h-100 shadow-sm p-2 bg-light-bok">
          <div class="row g-3">
            <div class="col-auto">
              <%= render Books::CoverComponent.new(
                book: book,
                s3_class: "book-cover rounded-2 detail-src",
                url_class: "rounded-2 detail-src",
                no_cover_class: "detail-no-cover"
              ) %>
            </div>

            <div class="col d-flex flex-column gap-1" style="word-break: break-all;">
              <h6 class="mb-1 fw-bold small lh-sm"><%= truncate(book.title, length: 30) %></h6>
              <p class="text-muted mb-1 small lh-sm"><%= truncate(book.author, length: 20) %></p>
              <p class="text-muted small lh-sm"><%= truncate(book.publisher, length: 20) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if @pagy && @pagy.next %>
  <turbo-frame id="next_books" src="<%= helpers.books_index_path(view: "detail_card", page: @pagy.next) %>" loading="lazy">
    <%= render "shared/loading_spinner" %>
  </turbo-frame>
<% end %>