<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %>が発生しました:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, "メール" %><br>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :introduction, "自己紹介" %><br>
    <%= form.text_area :introduction %>
  </div>
  <div>
    <%= form.label :avatar, "アバター画像URL" %><br>
    <%= form.text_field :avatar %>
  </div>
  <div>
    <%= form.label :encrypted_password, "パスワード(暗号化済み)" %><br>
    <%= form.password_field :encrypted_password %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
