<% content_for :title, "ユーザー - Bokrium" %>

<%= render "users/support_settings" %>

  <div class="container mt-3 mb-5">
    <div class="card subtle-shadow mb-4">
      <div class="card-header bg-rhodia-blue text-white d-flex justify-content-between align-items-center">
        <span class="fs-5">マイページ</span>
      </div>
      <div class="card-body bg-light-bok">
        <div class="row align-items-center">
          <div class="col-md-3 text-center">
            <%= image_tag user_avatar(current_user, size: :large), alt: current_user.name, class: "avatar-circle mb-3" %>
          </div>
          <div class="col-md-9">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong><%= User.human_attribute_name(:name) %>:</strong>
                <span class="ms-2"><%= current_user.name %></span>
              </li>
              <li class="list-group-item">
                <strong><%= User.human_attribute_name(:email) %>:</strong>
                <% unless current_user.email&.match?(/\Aline_user_[a-f0-9]{30}@example\.bokrium\z/) %>
                    <span class="ms-2"><%= current_user.email %></span>
                <% end %>
              </li>
              <li class="list-group-item">
                <strong><%= t('users.show.registered_at', default: '登録日') %>:</strong>
                <span class="ms-2"><%= l(current_user.created_at, format: :only_date) %></span>
              </li>
            </ul>
            <div class="d-flex justify-content-left gap-2 mt-3" data-controller="safari-click-fix">
              <%= link_to '編集', edit_user_registration_path(current_user), class: "btn btn-outline-primary safari-fix-button" %>
              <%= link_to t('devise.sessions.signed_in.sign_out', default: 'ログアウト'),
                    destroy_user_session_path,
                    data: { turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" },
                    class: 'btn btn-danger safari-fix-button safari-modal-action-button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render "users/passkey_settings" %>

<%= render "users/email_settings" %>

<%= render "users/line_settings" %>
