<% content_for :title, "使い方ガイド - Bokrium" %>

<div class="container py-3 px-3 px-md-5 px-md-0">
  <section class="mb-5 text-center">
    <h1 class="fw-bold my-2 big-shoulders-inline-bold">
      <span class="logo-welcome" title="ボクリウム">Bokrium</span><br>
    </h1>
    <p class="lead text-muted">
      新しい本棚へようこそ。
    </p>
  </section>

<!-- スマホでピッと。-->
<%= lazy_section(:barcode_section_frame, barcode_section_guest_starter_books_path) %>

<!-- 本棚に自由を。-->
<%= lazy_section(:bookshelf_section_frame, bookshelf_section_guest_starter_books_path) %>

<!-- 選べる5つの本棚レイアウト -->
<%= lazy_section(:five_layouts, five_layouts_guest_starter_books_path) %>

<!-- メモで深める。 -->
<%= lazy_section(:memo_section_frame, memo_section_guest_starter_books_path) %>

<!-- 閉じつつひらく。 -->
<%= lazy_section(:public_section_frame, public_section_guest_starter_books_path) %>

<!-- 使い方本 -->
<%= lazy_section(:guidebook_section_frame, guidebook_section_guest_starter_books_path) %>
