<% content_for :title, "使い方ガイド - Bokrium" %>

<div class="container py-3 px-3 px-md-5 px-md-0">
  <section class="mb-5 text-center">
    <h1 class="fw-bold mb-2 big-shoulders-inline-bold">
      <span class="logo-welcome" title="ボクリウム">Bokrium</span><br>
    </h1>
    <p class="lead text-muted">
      読書体験を、記録し、共有できる。<br>新しい棚へようこそ。
    </p>
  </section>


  <!-- barcode_section -->
  <div
    data-controller="lazy-load"
    data-lazy-load-url-value="<%= barcode_section_guest_starter_books_path %>"
    data-lazy-load-frame-value="barcode_section_lazy"
  >
    <div style="height: 1px;"></div>
  </div>
  <%= turbo_frame_tag "barcode_section_lazy" do %>
    <%= render "shared/loading_spinner" %>
  <% end %>

  <!-- bookshelf_section -->
  <div
    data-controller="lazy-load"
    data-lazy-load-url-value="<%= bookshelf_section_guest_starter_books_path %>"
    data-lazy-load-frame-value="bookshelf_section_frame"
  >
    <div style="height: 1px;"></div>
  </div>
  <%= turbo_frame_tag "bookshelf_section_frame" do %>
    <%= render "shared/loading_spinner" %>
  <% end %>


  <!-- ５つのレイアウト -->
  <div
    data-controller="lazy-load"
    data-lazy-load-url-value="<%= animation_lazy_guest_starter_books_path%>"
    data-lazy-load-frame-value="animation_sample_lazy"
  >

    <div style="height: 1x;"></div>
  </div>

  <%= turbo_frame_tag "animation_sample_lazy" do %>
    <%= render "shared/loading_spinner" %>
  <% end %>



<!-- memo_section -->
<div
  data-controller="lazy-load"
  data-lazy-load-url-value="<%= memo_section_guest_starter_books_path %>"
  data-lazy-load-frame-value="memo_section_frame"
>
  <div style="height: 1px;"></div>
</div>
<%= turbo_frame_tag "memo_section_frame" do %>
  <%= render "shared/loading_spinner" %>
<% end %>

