<nav class="navbar shadow-sm  border-bottom py-2 px-3 bg-apple-light">
  <div class="container-fluid d-flex justify-content-between align-items-center" style="min-height: 72px;">
    <% current_path = request.path %>
    <!-- å·¦ï¼šãƒ­ã‚´ -->
    <%= link_to root_path, class: "navbar-brand rounded  #{current_page?(root_path) ? 'active' : ''}", style: "letter-spacing: 0.03em;" do %>
      <%= raw File.read(Rails.root.join("app/assets/images/bokrium_logo.svg")) %>
    <% end %>

    <!-- ä¸­å¤®ï¼šãƒŠãƒ“ã‚¢ã‚¤ã‚³ãƒ³ -->
    <div class="d-flex align-items-center justify-content-center gap-5">
      <!-- ðŸ” æ¤œç´¢ãƒšãƒ¼ã‚¸ -->
      <%= link_to search_books_path, class: "text-dark #{current_path.starts_with?('/search') ? 'active' : ''}" do %>
        <i data-lucide="search" style="width: 24px; height: 24px;"></i>
      <% end %>

      <!-- ðŸ“š æœ¬æ£šãƒšãƒ¼ã‚¸ -->
      <%= link_to books_index_path, class: "text-dark #{books_index_active_class}" do %>
        <i data-lucide="library-big" style="width: 24px; height: 24px;"></i>
      <% end %>

      <!-- ðŸ‘¥ å…¬é–‹æœ¬æ£šãƒšãƒ¼ã‚¸ -->
      <%= link_to public_bookshelf_index_path, class: "text-dark #{current_path.starts_with?('/public_bookshelf') ? 'active' : ''}" do %>
        <i data-lucide="users" style="width: 24px; height: 24px;"></i>
      <% end %>

    </div>

    <!-- å³ï¼šã‚¢ãƒã‚¿ãƒ¼ -->
    <div class="d-flex align-items-center">
      <% if user_signed_in? %>
        <%= link_to mypage_path do %>
          <%= lazy_image_tag user_avatar(current_user, size: 36), class: "rounded-circle shadow-sm ms-2", style: "width: 48px; height: 48px; object-fit: cover;" %>
        <% end %>
      <% else %>
        <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "btn btn-outline-dark btn-sm" %>
      <% end %>
    </div>

  </div>
</nav>

