<%= form_with(model: book, data: { turbo: false }) do |f| %>

  <div class="mb-3">
    <%= f.label :title, "タイトル", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <div class="invalid-feedback">タイトルを入力してください</div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :author, "著者", class: "form-label" %>
      <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :isbn, "ISBN", class: "form-label" %>
      <%= f.text_field :isbn, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :publisher, "出版社", class: "form-label" %>
      <%= f.text_field :publisher, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :page, "ページ数", class: "form-label" %>
      <%= f.number_field :page, class: "form-control", min: 1 %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :price, "金額", class: "form-label" %>
      <%= f.number_field :price, class: "form-control", min: 1 %>
    </div>
    <div class="col-md-6">
      <%= f.label :book_cover_s3, "表紙画像", class: "form-label" %>
      <%= f.file_field :book_cover_s3, class: "form-control", direct_upload: true %>

      <div class="mt-2">
          <%= display_book_cover book,
          resize_to: [120, 120],
          s3_class: "img-fluid img-thumbnail",
          url_class: "img-fluid",
          no_cover_class: "no-cover-form",
          no_cover_title: "",
          style: "max-height: 120px;" %>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <%= link_to "戻る", book.persisted? ? book_path(book) : search_books_path, class: "btn btn-outline-secondary" %>
    <% if user_signed_in? %>
      <%= f.submit book.persisted? ? "更新する" : "本棚に追加", class: "btn btn-primary-bok px-4" %>
    <% else %>
      <button class="btn btn-primary btn-sm ox-4" disabled title="ログインすると追加できます">
        本棚に追加
      </button>
    <% end %>
  </div>
<% end %>