<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">
          <%= bi_icon("gear", css: "is-4  me-2") %> 本の操作
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる" style="margin-top: -0.2rem;"></button>
      </div>

      <div class="modal-body safari-fix-root" style="padding: 0.5rem 1.5rem 1.5rem;" data-controller="safari-click-fix">
        <ul class="my-3 modal-action-list">
          <li class="modal-action-item">
            <%= link_to edit_book_path(book), class: "modal-action-button edit safari-fix-button" do %>
              <span>
                <%= bi_icon("pencil-square", css: "is-6 me-2") %> 編集する
              </span>
              <%= bi_icon("chevron-right", css: "is-7") %>
            <% end %>
          </li>
          <li class="modal-action-item">
            <%= form_with url: book_path(book), method: :delete,
                  data: { turbo_confirm: "本のデータとメモが削除されると、もとに戻すことはできません。\n本当に削除してもよろしいでしょうか？" },
                  html: { class: "m-0 p-0" } do %>
              <%= hidden_field_tag :force_html, true %>
              <button type="submit" class="modal-action-button delete safari-fix-button safari-modal-action-button">
                <span>
                  <%= bi_icon("trash2", css: "is-6 me-2") %>削除する
                </span>
                <%= bi_icon("chevron-right", css: "is-7") %>
              </button>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>