<%= turbo_stream.append "new_memo_forms" do %>
    <div class="card mt-3 p-3 bg-light">
      <%= form_with(model: [@book, @new_memo], local: true) do |f| %>
        <div class="mb-3">
          <%= f.text_area :content, 
                class: "form-control rhodia-grid-bg",
                rows: 6, 
                placeholder: "新しいメモを入力してください",
                data: { controller: "autogrow" } %>
        </div>
        <div class="d-flex justify-content-between">
          <%= f.submit "保存", class: "btn btn-outline-primary btn-sm" %>
          <%= button_tag "キャンセル", 
                type: "button",
                class: "btn btn-outline-danger btn-sm",
                data: { 
                  action: "click->memo-form#cancel" 
                } %>

        </div>
      <% end %>
    </div>
<% end %>
