<%= form_with url: explore_path, method: :get,
              data: { controller: "responsive-slice",
                turbo_frame: (scope == "mine" || "guest" ? "books_frame" : "public_books_frame") },
              class: local_assigns[:form_class] || "d-flex justify-content-center position-relative" do %>

  <%= hidden_field_tag :scope, scope %>
  <%= hidden_field_tag :view, local_assigns[:view_mode] || "" %>
  <%= hidden_field_tag :slice, "", data: { responsive_slice_target: "input" } %>

  <!-- scopeが"guest"のときだけゲスト用のURL、それ以外は通常のもの -->
  <% autocomplete_url = "#{scope == 'guest' ? autocomplete_guest_books_path : autocomplete_books_path}?scope=#{scope}" %>

  <div class="input-group shadow-sm bg-light-bok border rounded-pill position-relative"
        data-controller="autocomplete"
        data-autocomplete-url-value="<%= autocomplete_url %>"
        style="max-width: 550px; width: 90%;">

    <%= text_field_tag :q, params[:q],
        placeholder: placeholder || "検索",
        class: "form-control bg-light-bok rounded-pill-left py-2 px-4",
        data: {
          autocomplete_target: "input",
          action: "input->autocomplete#fetchSuggestions blur->autocomplete#clearSuggestions"
        },
        autocomplete: "off" %>

    <button type="submit" class="btn btn-primary-bok shadow-sm px-4 rounded-pill-right">
      検索
    </button>

    <div data-autocomplete-target="suggestions"
          class="autocomplete-suggestions-container position-absolute"
          style="top: 103%; left: 0; border-radius: 1rem;">
    </div>
  </div>
<% end %>