<div class="mb-4">
  <%= f.hidden_field :content, id: "memo_content_input" %>

  <div
    id="rich-editor-root"
    data-initial-content="<%= raw(@memo.content || "") %>"
  ></div>
</div>

<div class="d-flex justify-content-end gap-3">
  <div class="form-check form-switch mt-2">
    <%= f.check_box :published,
          {
            class: "form-check-input",
            checked: memo.you_can_see?,
            role: "switch"
          },
          "you_can_see",
          "only_i_can_see" %>
    <%= f.label :published, "公開する", class: "form-check-label" %>
  </div>

  <%= button_tag type: "submit", class: "btn btn-outline-primary me-2" do %>
    <i class="bi bi-save"></i> 保存
  <% end %>
</div>