<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">新規メモ作成</h4>
        </div>
        <div class="card-body">
          <div class="mb-4 d-flex align-items-center">
            <% if @book.book_cover.present? %>
              <img src="<%= @book.book_cover %>" alt="表紙画像" class="img-thumbnail me-3" style="max-width: 100px;">
            <% end %>
            <div>
              <h5 class="mb-1"><%= @book.title %></h5>
              <div class="text-muted"><%= @book.author %></div>
              <div class="text-muted"><%= @book.publisher %></div>
            </div>
          </div>

          <%= form_with(model: [@book, @memo], local: true) do |f| %>

            <% if @memo.errors.any? %>
              <div class="alert alert-danger">
                <ul class="mb-0">
                  <% @memo.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= render partial: "memos/form_fields", locals: { f: f, memo: @memo, align: "end" } %>

            <div class="text-center mt-5">
              <%= link_to "戻る", book_path(@book), class: "btn btn-secondary" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>