<div class="col" id="image_<%= image.id %>">
  <%= button_to book_image_path(book, image),
                method: :delete,
                data: { turbo_confirm: "この画像を削除しますか？" },
                class: "btn btn-sm d-flex align-items-center justify-content-center mx-auto mt-2",
                title: "画像を削除" do %>
    <%= bi_icon("trash2", css: "is-7") %>
  <% end %>

  <% image_src = thumb ? image.image_s3.variant(resize_to_fill: [200, 200]) : image.image_s3 %>
  <% img_data = thumb ? { bs_toggle: "modal", bs_target: "#imageModal#{identifier}" } : {} %>

  <div class="card">
    <%= lazy_image_tag image_src,
          class: "card-img-top img-fluid",
          alt: "Book Image",
          style: "max-width: 240px; width: 100%; height: auto; object-fit: contain;",
          data: img_data %>
  </div>

  <% if thumb %>
    <% content_for :modals do %>
      <%= render "images/image_modal", image: image, identifier: identifier %>
    <% end %>
  <% end %>
</div>