<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Bokrium" %></title>

    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'Bokrium - 読書メモアプリ' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : '「読んだだけ」で終わらせない。Bokriumは、読書の記憶を育てる本棚アプリです。' %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : cdn_path("bokrium_ogp.png") %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="読書の記憶を育てる本棚アプリBokrium。本のバーコードをスキャンして書籍情報を簡単登録。メモ・画像・タグで記録し、読書をあとで活かす。">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon and Manifest -->
    <%= favicon_link_tag "/favicon.ico" %> <!-- 一番上に -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= tag.link rel: "manifest", href: "/manifest.json" %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,700&family=Noto+Sans+JP:wght@400;600;700&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,700&family=Noto+Sans+JP:wght@400;600;700&display=swap"
        rel="stylesheet">
    </noscript>

    <!-- Vite CSS & TS -->
    <%= vite_client_tag %>
    <%= vite_typescript_tag "application" %>

  </head>

  <body>
    <div id="flash"><%= render "shared/flash" %></div>

    <%= render "shared/header" %>

    <%= render "shared/loading" %>

    <main class="bg-basic" style="flex: 1;"><%= yield %></main>

    <%= render "shared/footer" %>

    <%= turbo_frame_tag "modal" %>

    <%= yield :modals %>
  </body>
</html>
